{# templates/contacto.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container">
        <div class="row mt-4">
            <div class="col-2">

            </div>
            <div class="col">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                    
                    <div class="mb-3">
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.apellido) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.correo) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.celular) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.area) }}
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="contacto_mensaje" class="required">Mensaje</label>
                            <textarea id="contacto_mensaje" name="contacto[mensaje]" rows="4" cols="60" class="form-control"></textarea>
                        </div>
                        {{ form_errors(form.mensaje) }}
                    </div>
                    {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>



{% endblock %}

