{# templates/contacto.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    
    <div class="container">
        <div class="row mt-4">
            <div class="col-2">

            </div>
            <div class="col">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.apellido) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.correo) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.celular) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.area) }}
                    </div>
                    {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>



{% endblock %}

